<!DOCTYPE html>
<html>
	<head>
		<title>Weather Forecast</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="shortcut icon" href="fav.ico" type="image/x-icon" />
		<link rel="icon" href="fav.ico" type="image/x-icon" />
		
		<link rel="stylesheet" href="css/roboto.css" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineLite.min.js"></script>
		<script src="js/index.js"></script>
	</head>
	<body>
		<h1>WEATHER FORECAST</h1>
		<img  src="images/logo.png" />
		
		<div id="center_btn_container">
			<a title="Uses static json file" href="/static" class="button top_padding_10">STATIC FORECAST</a>
			<a title="Uses 3rd party weather api" href="/dynamic" class="button top_padding_10">DYNAMIC FORECAST</a>
		</div>
		
	</body>
</html>
